/*
 * cookiesbanner.css
 * 
 * Copyright 2021  FuchsCrafter fuchscrafter.de
 * 
 */

div.eapps-widget{position:relative}div.eapps-widget.eapps-widget-show-toolbar:before{position:absolute;content:"";display:block;bottom:0;top:0;left:0;right:0;pointer-events:none;border:1px solid transparent;transition:border .3s ease;z-index:1}.eapps-widget-toolbar{position:absolute;top:-32px;left:0;right:0;display:block;z-index:99999;padding-bottom:4px;transition:all .3s ease;pointer-events:none;opacity:0}.eapps-widget:hover .eapps-widget-toolbar{opacity:1;pointer-events:auto}.eapps-widget-toolbar a{text-decoration:none;box-shadow:none!important}.eapps-widget-toolbar-panel{border-radius:6px;background-color:#222;color:#fff;display:-ms-inline-flexbox;display:inline-flex;-ms-flex-align:center;align-items:center;top:0;position:relative;transition:all .3s ease;opacity:0;overflow:hidden;-webkit-backface-visibility:hidden;backface-visibility:hidden;box-shadow:0 0 0 1px hsla(0,0%,100%,.2);height:28px}.eapps-widget:hover .eapps-widget-toolbar-panel{opacity:1}.eapps-widget-toolbar-panel-wrapper{width:100%;position:relative}.eapps-widget-toolbar-panel-only-you{position:absolute;top:-24px;font-size:11px;line-height:14px;color:#9c9c9c;padding:5px 4px}.eapps-widget-toolbar-panel-logo{width:28px;height:28px;border-right:1px solid hsla(0,0%,100%,.2);display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;-ms-flex-pack:center;justify-content:center}.eapps-widget-toolbar-panel-logo svg{display:block;width:15px;height:15px;fill:#f93262}.eapps-widget-toolbar-panel-edit{font-size:12px;font-weight:400;line-height:14px;display:-ms-inline-flexbox;display:inline-flex;-ms-flex-align:center;align-items:center;padding:9px;border-right:1px solid hsla(0,0%,100%,.2);color:#fff;text-decoration:none}.eapps-widget-toolbar-panel-edit-icon{width:14px;height:14px;margin-right:8px}.eapps-widget-toolbar-panel-edit-icon svg{display:block;width:100%;height:100%;fill:#fff}.eapps-widget-toolbar-panel-views{display:-ms-inline-flexbox;display:inline-flex;-ms-flex-pack:center;justify-content:center;-ms-flex-align:center;align-items:center}.eapps-widget-toolbar-panel-views-label{font-size:12px;font-weight:400;line-height:14px;margin-left:8px}.eapps-widget-toolbar-panel-views-bar{display:-ms-inline-flexbox;display:inline-flex;width:70px;height:3px;border-radius:2px;margin-left:8px;background-color:hsla(0,0%,100%,.3)}.eapps-widget-toolbar-panel-views-bar-inner{border-radius:2px;background-color:#4ad504}.eapps-widget-toolbar-panel-views-green .eapps-widget-toolbar-panel-views-bar-inner{background-color:#4ad504}.eapps-widget-toolbar-panel-views-red .eapps-widget-toolbar-panel-views-bar-inner{background-color:#ff4734}.eapps-widget-toolbar-panel-views-orange .eapps-widget-toolbar-panel-views-bar-inner{background-color:#ffb400}.eapps-widget-toolbar-panel-views-percent{display:-ms-inline-flexbox;display:inline-flex;margin-left:8px;margin-right:8px;font-size:12px;font-weight:400;line-height:14px}.eapps-widget-toolbar-panel-views-get-more{padding:9px 16px;background-color:#f93262;color:#fff;font-size:12px;font-weight:400;border-radius:0 6px 6px 0}.eapps-widget-toolbar-panel-share{position:absolute;top:0;display:inline-block;margin-left:8px;width:83px;height:28px;padding-bottom:4px;box-sizing:content-box!important}.eapps-widget-toolbar-panel-share:hover .eapps-widget-toolbar-panel-share-block{opacity:1;pointer-events:all}.eapps-widget-toolbar-panel-share-button{padding:0 18px;height:28px;background-color:#1c91ff;color:#fff;font-size:12px;font-weight:400;border-radius:6px;position:absolute;top:0;display:-ms-flexbox;display:flex;-ms-flex-direction:row;flex-direction:row;cursor:default;-ms-flex-align:center;align-items:center}.eapps-widget-toolbar-panel-share-button svg{display:inline-block;margin-right:6px;fill:#fff;position:relative;top:-1px}.eapps-widget-toolbar-panel-share-block{position:absolute;background:#fff;border:1px solid hsla(0,0%,7%,.1);border-radius:10px;width:209px;top:32px;transform:translateX(-63px);opacity:0;pointer-events:none;transition:all .3s ease;box-shadow:0 4px 6px rgba(0,0,0,.05)}.eapps-widget-toolbar-panel-share-block:hover{opacity:1;pointer-events:all}.eapps-widget-toolbar-panel-share-block-text{color:#111;font-size:15px;font-weight:400;padding:12px 0;text-align:center}.eapps-widget-toolbar-panel-share-block-text-icon{padding-bottom:4px}.eapps-widget-toolbar-panel-share-block-actions{display:-ms-flexbox;display:flex;-ms-flex-direction:row;flex-direction:row;border-top:1px solid hsla(0,0%,7%,.1)}.eapps-widget-toolbar-panel-share-block-actions-item{width:33.333333%;display:-ms-flexbox;display:flex;-ms-flex-pack:center;justify-content:center;-ms-flex-align:center;align-items:center;height:39px;transition:all .3s ease;background-color:transparent}.eapps-widget-toolbar-panel-share-block-actions-item:hover{background-color:#fafafa}.eapps-widget-toolbar-panel-share-block-actions-item a{width:100%;height:100%;display:-ms-flexbox;display:flex;-ms-flex-pack:center;justify-content:center;-ms-flex-align:center;align-items:center}.eapps-widget-toolbar-panel-share-block-actions-item-icon{width:16px;height:16px;display:block}.eapps-widget-toolbar-panel-share-block-actions-item-facebook .eapps-widget-toolbar-panel-share-block-actions-item-icon{fill:#3c5a9b}.eapps-widget-toolbar-panel-share-block-actions-item-twitter .eapps-widget-toolbar-panel-share-block-actions-item-icon{fill:#1ab2e8}.eapps-widget-toolbar-panel-share-block-actions-item-google .eapps-widget-toolbar-panel-share-block-actions-item-icon{fill:#dd4b39}.eapps-widget-toolbar-panel-share-block-actions-item:not(:last-child){border-right:1px solid hsla(0,0%,7%,.1)}</style><script src="https://static.elfsight.com/apps/cookie-consent/release/df5486fa-06c1-47b3-a8dd-6d178a59def3/app/cookie-consent.js" defer="defer"></script><style type="text/css">.eacc-actions-actions {
  -webkit-flex: 1 0 auto;
          flex: 1 0 auto;
  margin-left: 20px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
          justify-content: flex-end;
}
.eacc-widget-box.eacc-widget-topLeft .eacc-actions-actions,
.eacc-widget-box.eacc-widget-topRight .eacc-actions-actions,
.eacc-widget-box.eacc-widget-bottomLeft .eacc-actions-actions,
.eacc-widget-box.eacc-widget-bottomRight .eacc-actions-actions {
  margin-left: 0;
  width: 100%;
  -webkit-justify-content: stretch;
          justify-content: stretch;
  margin-top: 20px;
  -webkit-flex-direction: column;
          flex-direction: column;
}
.eacc-actions-button {
  padding: 7px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.428571429;
  text-align: center;
  position: relative;
  -webkit-align-items: center;
          align-items: center;
}
.eacc-actions-button:not(:last-child) {
  margin-right: 20px;
}
.eacc-widget-box.eacc-widget-topLeft:not(:last-child) .eacc-actions-button,
.eacc-widget-box.eacc-widget-topRight:not(:last-child) .eacc-actions-button,
.eacc-widget-box.eacc-widget-bottomLeft:not(:last-child) .eacc-actions-button,
.eacc-widget-box.eacc-widget-bottomRight:not(:last-child) .eacc-actions-button {
  margin-right: 20px;
}
.eacc-actions-mobile .eacc-actions-button:not(:last-child),
.eacc-widget-box.eacc-widget-topLeft .eacc-actions-button:not(:last-child),
.eacc-widget-box.eacc-widget-topRight .eacc-actions-button:not(:last-child),
.eacc-widget-box.eacc-widget-bottomLeft .eacc-actions-button:not(:last-child),
.eacc-widget-box.eacc-widget-bottomRight .eacc-actions-button:not(:last-child) {
  margin-bottom: 12px;
  margin-right: 0;
}
.eacc-actions-button:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  border-radius: 4px;
  transition: 0.3s ease opacity;
  opacity: 0;
}
.eacc-actions-button:hover:after {
  opacity: 0.1;
}
.eacc-actions-confirm {
  background-color: #fff;
  color: #252528;
}
.eacc-actions-accept {
  background-color: #fff;
  color: #252528;
}
.eacc-actions-decline {
  color: #fff;
}
.eacc-actions-decline:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: solid 1px transparent;
  opacity: 0.3;
  display: block;
  border-radius: 4px;
}
.eacc-actions-mobile {
  margin-left: 0;
  margin-top: 20px;
  width: 100%;
  -webkit-flex-direction: column;
          flex-direction: column;
}

.eacc-cookie-icon-component {
  display: -webkit-flex;
  display: flex;
  margin-right: 20px;
  -webkit-flex: 0 1;
          flex: 0 1;
  margin-top: -10px;
  margin-bottom: -10px;
}
.eacc-widget-box:not(.eacc-widget-top):not(.eacc-widget-bottom) .eacc-cookie-icon-component {
  -webkit-align-self: flex-start;
          align-self: flex-start;
  margin-top: 0;
  margin-bottom: 0;
}

.eacc-message-component {
  display: -webkit-inline-flex;
  display: inline-flex;
  font-size: 14px;
  line-height: 1.428571429;
  margin: 8px 0;
  -webkit-flex: 0 1 auto;
          flex: 0 1 auto;
  -webkit-align-items: center;
          align-items: center;
}
.eacc-widget-box .eacc-message-component {
  margin: 0;
}
.eacc-message-componentMore {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  font-weight: 700;
}
.eacc-message-componentMore:hover {
  text-decoration: underline;
}
.eacc-message-componentMore a {
  color: currentColor;
  text-decoration: none;
}
.eacc-message-mobile {
  margin: 0;
}
.eacc-message-text {
  color: #000;
}
.eacc-message-customIcon {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.eacc-message-customIconContainer {
  width: 40px;
  height: 40px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  margin-right: 20px;
  margin-top: -10px;
  margin-bottom: -10px;
}
.eacc-widget-box:not(.eacc-widget-top):not(.eacc-widget-bottom) .eacc-message-customIconContainer {
  -webkit-align-self: flex-start;
          align-self: flex-start;
  margin-top: 0;
  margin-bottom: 0;
}
.eacc-item-container {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
  max-width: 900px;
  margin: 0 auto;
}
.eacc-widget-box.eacc-widget-topLeft .eacc-item-container,
.eacc-widget-box.eacc-widget-topRight .eacc-item-container,
.eacc-widget-box.eacc-widget-bottomLeft .eacc-item-container,
.eacc-widget-box.eacc-widget-bottomRight .eacc-item-container {
  -webkit-flex-direction: column;
          flex-direction: column;
}
.eacc-item-mobile {
  max-width: 100%;
  -webkit-flex-direction: column;
          flex-direction: column;
}
.eacc-item-close {
  position: absolute;
  right: 17px;
  top: 17px;
  padding: 8px;
  cursor: pointer;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
}
.eacc-item-close svg {
  fill: rgba(255,255,255,0.4);
  transition: 0.3s ease all;
}
.eacc-item-close:hover svg {
  fill: rgba(255,255,255,0.8);
}

.eacc-popup-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.2);
  display: none;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
  z-index: 2147483647;
}
.eacc-popup-inner {
  max-width: 600px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px 28px 28px;
  width: 100%;
  height: 600px;
  position: relative;
  box-shadow: 0 12px 24px 0 rgba(0,0,0,0.1);
  overflow: hidden;
  box-sizing: border-box;
}
.eacc-popup-show {
  display: -webkit-flex;
  display: flex;
}
.eacc-popup-close {
  position: absolute;
  display: block;
  width: 14px;
  height: 14px;
  right: 20px;
  top: 20px;
  padding: 8px;
  cursor: pointer;
}
.eacc-popup-close svg {
  fill: rgba(0,0,0,0.2);
  transition: 0.3s ease all;
}
.eacc-popup-close:hover svg {
  fill: rgba(0,0,0,0.8);
}
.eacc-popup-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: #111;
}
.eacc-popup-content {
  overflow: auto;
  max-height: calc(100% - 72px);
  margin-top: 44px;
}
.eacc-widget-container {
  position: fixed;
  width: calc(100% - 20px);
  padding: 12px 60px;
  box-sizing: border-box;
  opacity: 1;
  display: none;
  transition: 0.3s ease all;
  z-index: 2147483647;
}
.eacc-widget-mobile {
  padding: 20px;
}
.eacc-widget-show {
  opacity: 1;
  display: block;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.eacc-widget-top {
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.eacc-widget-topLeft {
  top: 0;
  left: 0;
  max-width: 320px;
}
.eacc-widget-topRight {
  top: 0;
  right: 0;
  max-width: 320px;
}
.eacc-widget-topCenter {
  top: 0;
  left: calc(50% - 10px);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 900px;
}
.eacc-widget-bottom {
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.eacc-widget-bottomLeft {
  bottom: 0;
  left: 0;
  max-width: 320px;
}
.eacc-widget-bottomRight {
  bottom: 0;
  right: 0;
  max-width: 320px;
}
.eacc-widget-bottomCenter {
  bottom: 0;
  left: calc(50% - 10px);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 900px;
}
.eacc-widget-bar {
  width: 100%;
  left: 0;
  -webkit-transform: none;
          transform: none;
}
.eacc-widget-box {
  width: calc(100% - 20px);
  margin: 10px;
  border-radius: 10px;
  padding: 20px;
}
